<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internetzugang für Firebase (Authentifizierung + Firestore Datenbankzugriff) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS-Ortung: ACCESS_FINE_LOCATION = genauer Standort (GPS), Pflicht für Duell-Tracking (VL 43) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Foreground Service darf im Hintergrund laufen (VL 25 – Services) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Spezieller Typ: dieser Foreground Service greift auf den Standort zu (Android 10+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <!-- Benachrichtigungen senden (ab Android 13 / API 33 Pflicht – VL 41 Notifications) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeRun">

        <!-- Google Maps API Key (Maps SDK for Android) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBn6UZ2-1P4yRkQZ_fr0nKJK3tpHS3Z-s"/>

        <service
            android:name=".TeRunLocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TeRun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>